{% extends "base.html" %} {% block content %} {% block breadcrumb %}
<div class="flex flex-col justify-center">
    <div class="breadcrumbs text-sm">
        <ul>
            <li>
                <a
                    href="{{ content::base_path() }}{% if lang != config.default_language%}{{ lang }}{% endif %}"
                    >Home</a
                >
            </li>
            {% set current = section | default(value=page) %} {% for ancestor in
            current.ancestors %} {% if loop.first %} {% continue %} {% endif %}
            {% set section = get_section(path=ancestor) %}
            <li>
                <a class="breadcrumb-path" href="{{ section.permalink }}"
                    >{{ section.title }}</a
                >
            </li>
            {% endfor %}
            <li>
                <a class="breadcrumb-path active" href="{{ current.permalink }}"
                    >{{ current.title }}</a
                >
            </li>
        </ul>
    </div>
    {% endblock breadcrumb %} {% if section.title %}
    <hr class="mt-2 mb-2" />
    <h1>
        {{ content::translate(value=section.title, i18n=i18n,
        i18n_user=i18n_user) | title }}
    </h1>
    {% endif %}

    <p>{{ section.content | safe }}</p>

    {#- Show the list of tags on top of the cards, if a taxonomy is defined for
    that and there is more than one tag in use -#} {% if
    section.extra.tags_taxonomy %} {% set tags =
    get_taxonomy(kind=section.extra.tags_taxonomy, lang=lang) %} {% if
    tags.items | length > 1 %}
    <div
        class="flex flex-wrap justify-center flex-row gap-x-7 gap-y-5 mt-6 mb-6"
    >
        {% for item in tags.items %} {{ content::term(term=item, i18n=i18n,
        i18n_user=i18n_user, icons=icons) }} {% endfor %}
    </div>
    {% endif %} {% endif %} {# The section might be paginated or not, depending
    on the parameter in the index.md file. #} {% if paginator %}{% set pages =
    paginator.pages %}{% else %}{% set pages = section.pages %}{% endif %} {{
    content::cards(pages=pages, i18n=i18n, i18n_user=i18n_user, icons=icons) }}
</div>

{% endblock %}
